<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Back to Main", subjects_path, :class => 'back-link') %>

<div class="subjects show">
  <h2>Book Information</h2>

  <table summary="Subject detail view">
    <tr>
      <th>Title</th>
      <td><%= @subject.title %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @subject.author %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @subject.genre %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @subject.price %></td>
    </tr>
    <tr>
      <th>Publish Date</th>
      <td><%= @subject.publishdate %></td>
    </tr>
  </table>

</div>

